/* fuentes */
.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* colores */

:root {
    --primario: #e8505b;
    --secundario: #455a64;
    --negro: #000;
    --blanco: #FFFFFF;
    --grisClaro: #eceeef;
}

/* selector global */
* {
    font-family: 'roboto';
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    justify-content: center;
}

.contenedor-global {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conenedor-page {
    width: 89%;
}


/* zona menu */
.contenedor-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 27vh;

    img {
        width: 25%;
    }

    .botones-nav {

        font-weight: bold;
        font-size: 20px;
        display: flex;
        gap: 30px;
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: var(--negro);
        }

        .registro {
            background: var(--primario);
            color: var(--blanco);
            width: 250px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

    }
}

/* zona datos de pedido */
.contenedor-datospedido {

    height: 88vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .contenedor-left-dates {

        width: 48%;
        background-color: var(--primario);
        display: flex;
        justify-content: center;
        align-items: center;

        .cuadro-dates {
            width: 80%;
            height: 70%;
            display: flex;
            flex-direction: column;
            gap: 20%;

            h1 {
                text-align: center;
                font-size: 36px;
                color: var(--blanco);
            }

            .caja-form {
                display: flex;
                flex-direction: column;
                color: var(--blanco);
                gap: 10px;

                input {
                    padding: 15px;
                    font-size: 16px;
                }

                .boton-buscar {
                    margin-top: 10px;
                    background: var(--secundario);
                    color: var(--blanco);
                    width: 100%;
                    height: 45px;
                    border: none;
                    border-radius: 10px;
                    font-weight: bold;
                    font-size: 20px;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    }

    .contenedor-right-img {

        width: 50%;
        display: flex;
        justify-content: end;
        align-items: end;

        img {
            width: 95%;
        }

    }
}

/* zona de funcionalidades de la App */
.contenedor-funcionalidades {

    .separador {
        height: 10vh;
    }

    .ola {
        margin-bottom: -1rem;
    }


    .cuadro-de-pasos {

        background-color: var(--primario);

        .subtitulo-funcionalidad {
            text-align: center;
            color: var(--blanco);
            height: 15vh;


            h1 {
                font-size: 36px;
            }

            h2 {
                font-size: 18px;
            }

        }

        .contenedor-de-pasos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5%;

            img {
                width: 27%;
            }
        }
    }

}

/* zona de testimonios */
.contenedor-testimonios {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
    color: var(--blanco);

    .cont-subtitulo-testimonios {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        font-size: 36px;
        font-weight: bold;
        color: var(--negro);
    }

    .icono-perfil {
        width: 100px;
        border-radius: 100%;
    }

    .nombre-persona {
        font-weight: bold;
        padding-bottom: 0.5rem;
    }

    .testimonio-peque {
        display: flex;
        flex-direction: column;
        width: 30%;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--secundario);
        border-radius: 10px;
    }

    .testimonio-largo {
        display: flex;
        flex-direction: column;
        width: 70%;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--secundario);
        border-radius: 10px;
    }

    .cont-superior-testimonio {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .cont-nombreystars {
        display: flex;
        flex-direction: column;

    }

    .caja-superior {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .caja-inferior {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .separador {
        height: 40px;
    }
}

/* zona de restaurantes preferidos */
.contenedor-restaurantes {

    display: flex;
    flex-direction: column;
    background-color: var(--grisClaro);

    .cont-subtitulo-restaurantes {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        font-size: 36px;
        font-weight: bold;
        color: var(--secundario);
    }

    .cont-tarjetas-restaurantes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }

    .tarjeta-favorito {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--blanco);
        width: 48%;
        height: 300px;
        border-radius: 10px;
        box-shadow: 0px 0px 2.6rem -0.8rem var(--secundario);

        .cont-elementos-tarjeta {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 85%;

            .imagen-restaurant img {
                width: 120px;
            }

            .contenido-restaurant {

                width: 70%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .cont-nombreystars-restaurant {
                    h2 {
                        padding-top: 0.3rem;
                        font-size: 24px;
                        font-weight: bold;
                        color: var(--primario);
                    }
                }

                p {
                    color: var(--secundario);
                    font-size: 16px;
                    line-height: 1.7;
                }
            }
        }

    }

    .separador {
        height: 40px;
    }
}

.conenedor-page-restaurant {

    width: 100%;
    background-color: var(--grisClaro);
    display: flex;
    justify-content: center;

    .conenedor-page {
        width: 89%;
    }

}

/* zona de información de trabajo de repartidor */
.contenedor-info-de-trabajo {

    display: flex;
    flex-direction: column;

    .cont-subtitulo-trabajo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        font-size: 36px;
        font-weight: bold;
        color: var(--secundario);
    }

    .zona-columnas-info {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .cont-imagen-repartidor {

            width: 50%;

            img {
                width: 95%;
            }
        }

        .cont-contenido-trabajo {

            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: end;
            gap: 1.5rem;

            .parrafos-iniciales {
                width: 95%;
                color: var(--secundario);
                font-size: 20px;
                line-height: 1.6;
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            .cont-boton-masinfo {

                width: 95%;
                display: flex;

                .boton-masinfo {
                    background: var(--primario);
                    color: var(--blanco);
                    width: 220px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    font-size: 20px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }

        }

    }

    .separador {
        height: 40px;
    }
}

/* zona de descarga de la App */
.contenedor-zona-de-descarga {
    .contenedor-columnas-de-info {

        display: flex;
        flex-direction: row;

        .cont-imagen-app {

            width: 50%;
            display: flex;
            justify-content: center;

            img {
                width: 48%;
            }
        }

        .cont-elementos-de-descarga {

            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            h2 {
                font-size: 32px;
                margin-bottom: -1rem;
                color: var(--secundario);
            }

            p {
                font-size: 20px;
            }

            .botones-de-descarga {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1rem;

                img {
                    width: 47%;
                }
            }
        }

    }

    .separador {
        height: 40px;
    }
}

.conenedor-page-descarga-app {

    width: 100%;
    background-color: var(--grisClaro);
    display: flex;
    justify-content: center;

    .conenedor-page {
        width: 89%;
    }

}

/* zona de todos los links y pie de pagina */
.contenedor-links-piedepagina {

    display: flex;
    flex-direction: column;

    .contenedor-zona-de-links {

        display: flex;
        flex-direction: row;
        color: var(--blanco);
        background-color: var(--secundario);
        gap: 1rem;

        .cont-1 {

            width: 34%;

            h2 {
                font-size: 32px;
                padding-bottom: 1rem;
            }

            p {
                font-size: 20px;
                line-height: 1.7;
            }
        }

        .cont-2 {

            width: 34%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h2 {
                font-size: 32px;
                padding-bottom: 1rem;
            }

            a {
                font-size: 20px;
                color: var(--blanco);
                text-decoration: none;
            }
        }

        .cont-3 {

            width: 34%;

            h2 {
                font-size: 32px;
                padding-bottom: 1rem;
            }

            p {
                font-size: 20px;
                line-height: 1.7;
            }
        }
    }

    .conenedor-page-links {

    width: 100%;
    background-color: var(--secundario);
    display: flex;
    justify-content: center;

    .conenedor-page {
        width: 89%;
    }

}

    .separador {
        height: 75px;
        background-color: var(--secundario);
    }

    .piedepagina {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        background-color: var(--primario);
        font-size: 20px;
        color: var(--blanco);
    }

    .conenedor-page-piedepagina {

    width: 100%;
    background-color: var(--primario);
    display: flex;
    justify-content: center;

    .conenedor-page {
        width: 89%;
    }

}
}